@font-face {
  font-family: 'DayDreamFont';  /* Name you want to use in CSS */
  src: url('fonts/Daydream.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftFont';  /* Name you want to use in CSS */
  src: url('fonts/Minecraft.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelFont';  /* Name you want to use in CSS */
  src: url('fonts/Pixeland.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftDingsFont';  /* Name you want to use in CSS */
  src: url('fonts/minedings.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

canvas {
  display: block;
}

h1, h2, p {
  color: black;
  margin: 10px;
  z-index: 1;
  line-height: 1.2em;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(0deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  1% {
    background: linear-gradient(3.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  2% {
    background: linear-gradient(7.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  3% {
    background: linear-gradient(10.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  4% {
    background: linear-gradient(14.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  5% {
    background: linear-gradient(18deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  6% {
    background: linear-gradient(21.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  7% {
    background: linear-gradient(25.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  8% {
    background: linear-gradient(28.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  9% {
    background: linear-gradient(32.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  10% {
    background: linear-gradient(36deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  11% {
    background: linear-gradient(39.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  12% {
    background: linear-gradient(43.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  13% {
    background: linear-gradient(46.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  14% {
    background: linear-gradient(50.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  15% {
    background: linear-gradient(54deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  16% {
    background: linear-gradient(57.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  17% {
    background: linear-gradient(61.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  18% {
    background: linear-gradient(64.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  19% {
    background: linear-gradient(68.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  20% {
    background: linear-gradient(72deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  21% {
    background: linear-gradient(75.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  22% {
    background: linear-gradient(79.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  23% {
    background: linear-gradient(82.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  24% {
    background: linear-gradient(86.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  25% {
    background: linear-gradient(90deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  26% {
    background: linear-gradient(93.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  27% {
    background: linear-gradient(97.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  28% {
    background: linear-gradient(100.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  29% {
    background: linear-gradient(104.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  30% {
    background: linear-gradient(108deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  31% {
    background: linear-gradient(111.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  32% {
    background: linear-gradient(115.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  33% {
    background: linear-gradient(118.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  34% {
    background: linear-gradient(122.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  35% {
    background: linear-gradient(126deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  36% {
    background: linear-gradient(129.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  37% {
    background: linear-gradient(133.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  38% {
    background: linear-gradient(136.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  39% {
    background: linear-gradient(140.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  40% {
    background: linear-gradient(144deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  41% {
    background: linear-gradient(147.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  42% {
    background: linear-gradient(151.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  43% {
    background: linear-gradient(154.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  44% {
    background: linear-gradient(158.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  45% {
    background: linear-gradient(162deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  46% {
    background: linear-gradient(165.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  47% {
    background: linear-gradient(169.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  48% {
    background: linear-gradient(172.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  49% {
    background: linear-gradient(176.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  50% {
    background: linear-gradient(180deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  51% {
    background: linear-gradient(183.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  52% {
    background: linear-gradient(187.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  53% {
    background: linear-gradient(190.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  54% {
    background: linear-gradient(194.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  55% {
    background: linear-gradient(198deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  56% {
    background: linear-gradient(201.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  57% {
    background: linear-gradient(205.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  58% {
    background: linear-gradient(208.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  59% {
    background: linear-gradient(212.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  60% {
    background: linear-gradient(216deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  61% {
    background: linear-gradient(219.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  62% {
    background: linear-gradient(223.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  63% {
    background: linear-gradient(226.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  64% {
    background: linear-gradient(230.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  65% {
    background: linear-gradient(234deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  66% {
    background: linear-gradient(237.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  67% {
    background: linear-gradient(241.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  68% {
    background: linear-gradient(244.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  69% {
    background: linear-gradient(248.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  70% {
    background: linear-gradient(252deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  71% {
    background: linear-gradient(255.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  72% {
    background: linear-gradient(259.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  73% {
    background: linear-gradient(262.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  74% {
    background: linear-gradient(266.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  75% {
    background: linear-gradient(270deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  76% {
    background: linear-gradient(273.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  77% {
    background: linear-gradient(277.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  78% {
    background: linear-gradient(280.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  79% {
    background: linear-gradient(284.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  80% {
    background: linear-gradient(288deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  81% {
    background: linear-gradient(291.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  82% {
    background: linear-gradient(295.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  83% {
    background: linear-gradient(298.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  84% {
    background: linear-gradient(302.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  85% {
    background: linear-gradient(306deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  86% {
    background: linear-gradient(309.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  87% {
    background: linear-gradient(313.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  88% {
    background: linear-gradient(316.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  89% {
    background: linear-gradient(320.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  90% {
    background: linear-gradient(324deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  91% {
    background: linear-gradient(327.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  92% {
    background: linear-gradient(331.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  93% {
    background: linear-gradient(334.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  94% {
    background: linear-gradient(338.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  95% {
    background: linear-gradient(342deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  96% {
    background: linear-gradient(345.6deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  97% {
    background: linear-gradient(349.2deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  98% {
    background: linear-gradient(352.8deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  99% {
    background: linear-gradient(356.4deg, rgb(90, 104, 139), rgb(56, 67, 106));
  }
  100% {
    background: linear-gradient(360deg, rgb(90, 104, 139), rgb(255, 255, 255));
  }
}


#grad1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(90, 104, 139), rgb(56, 67, 106));
  z-index: -3;
  animation: gradientAnimation 10s linear infinite;
}


.bg-image-container {
  z-index: -2;
  transform: translate(0%, -15%);
  background-image: url('images/bank.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.banksafeimage {
  z-index: 1;
  transform: translate(0%, -130%);
  background-image: url('images/bank_safe.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 30%;
}

#box {
  width: 65%;
  height: 500%;
  background-color: rgb(255, 245, 254);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: -2;
}

#underbox {
  width: 90%;
  height: 480%;
  background-color: rgb(255, 245, 254);
  border-radius: 2px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -5%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: -3;
}

.login {
  position: absolute;
  border-radius: 2px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: 'MinecraftDingsFont';
  font-size: 16px;
  font-weight: 600;
  height: 5%;
  width: 8%;
  justify-content: center;
  letter-spacing: -.8%;
  line-height: 24%;
  min-width: 5%;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  transform: translate(300%, -600%);
  touch-action: manipulation;
}

.login:focus {
  color: #171e29;
}

.login:hover {
  border-color: rgb(255, 255, 255);
  color: #06f;
  fill: rgb(0, 0, 0);
}

.login:active {
  border-color: rgb(0, 0, 0);
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.title {
  font-family: 'DayDreamFont';
  position: absolute;
  transform: translate(0%, -500%);
}

.info1 {
  font-family: 'MinecraftFont';
  position: absolute;
  transform: translate(0%, -800%);
  font-weight: bold;
}

.info2 {
  font-family: 'PixelFont';
  position: absolute;
  transform: translate(0%, -620%);
}

.info3 {
  font-family: 'DayDreamFont';
  transform: translate(0%, -600%);
  position: relative;
}

.dingElement {
  font-family: 'MinecraftDingsFont';
  position: absolute;
  width: 0.5%;
  transform: translate(0%, -580%);

  align-items: center;
  background-color: transparent;
  border: 0px solid #ffffff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  height: 16px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  text-align: center;
}